<!DOCTYPE html>
<html>
  <head>
    <title>Wigan Bins</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body class="font-sans bg-gray-100 text-gray-900 px-4">
    <div id="app">
      <%= yield %>  
    </div>
  </body>
</html>
